.container {
  margin: 0 auto;
  padding-left: 1rem;

  a {
    display: block;
    transition: color 0.2s;
    animation: slideUp 1s forwards 0s;

    & + a {
      margin: 2rem 0;
    }

    p {
      color: var(--gray-300);
      margin: 0.4rem 0 1rem;
    }

    div {
      display: flex;

      time,
      span {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        color: var(--gray-500);
        font-size: 0.875rem;
      }
      time {
        margin-right: 1rem;
      }
    }

    &:hover {
      color: var(--pink);

      span {
        color: var(--pink);
      }
    }
  }

  button {
    margin: 3rem 0;
  }

  .btnExitPreview {
    margin: 3rem 0;
    transition: filter 0.2s;

    &:hover {
      color: var(--black);
      filter: brightness(0.8);
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(2rem);
    filter: brightness(0.7);
  }
  to {
    transform: translateY(0);
    filter: brightness(1);
  }
}
